@page "/sample-1"

<h3>Logging Parameter</h3>
<hr />
<p>Reactivity in an object editing interface.</p>

<EditForm Model="_p">
    <label for="name">Description</label>
    <InputText @bind-Value="_p.Description" class="form-control" />
    <label for="Mnemonic">Mnemonic</label>
    <InputText @bind-Value="_p.Mnemonic" class="form-control" />
    <label for="source">Parameter Source</label>
    <div class="card">
        <div class="card-body">
            <InputRadioGroup Description="source" @bind-Value="_p.Source">
                @foreach (var i in Enum.GetValues<Source>()) {
                    <InputRadio Value="i" class="out-border" />
                    @i<br />
                }
            </InputRadioGroup>
        </div>
    </div>
    <label for="UnitsSystem">System Units</label>
    <div class="card">
        <div class="card-body">
            <InputRadioGroup Description="UnitsSystem" @bind-Value="_p.UnitsSystem">
                @foreach (var i in Enum.GetValues<UnitsSystem>()) {
                    <InputRadio Value="i" class="out-border" />
                    @i<br />
                }
            </InputRadioGroup>
        </div>
    </div>
</EditForm>
<hr />
<h5>Object Attributes</h5>
<div class="card bg-light">
    <pre><code>
    Id          : @_p.Id
    Description : @_p.Description
    Mnemonic    : @_p.Mnemonic
    Sourve      : @_p.Source
    Units       : @_p.UnitsSystem
</code></pre>
</div>

@code {
    // Brought here for demonstration
    public enum Source
    {
        Sensor, Chromatograph, Spectrometer, ServiceBus, WITSML
    }

    public enum UnitsSystem
    {
        FPS, Metric, SI, Cooktail
    }

    public class StdParameter
    {
        public Guid Id { get; set; }
        public string Description { get; set; }
        public string Mnemonic { get; set; }
        public Source Source { get; set; }
        public UnitsSystem UnitsSystem { get; set; }
    }

    // Active instance
    StdParameter _p;

    protected override void OnInitialized()
    {
        // data sample
        _p = new StdParameter {
            Id = Guid.NewGuid(),
            Mnemonic = "RXO",
            Source = Source.WITSML,
            UnitsSystem = UnitsSystem.SI,
            Description = "Shalow Resistivity"
        };
    }
}
