@page "/sample-3"

<h3>Logging Parameter</h3>
<hr />
<p>Reactivity in an object editing interface.</p>

<div class="card bg-light p-3 vertical-margin">
    @foreach (var s in Enum.GetValues<LoginStatus>()) {
        <div class="form-check" style="margin-bottom:5px;">
            <input class="form-check-input" type="radio" name="@s"
                   checked="@(s == status)"
                   @onclick="() => ToggleLoginStatus(s)">
            <label class="form-check-label" for="@s">
                <span style="margin-left:6px;">@s</span>
            </label>
        </div>
    }
</div>
<br />
<h5>Status: @status</h5>

@code {
    enum LoginStatus { LogOut, LoggedIn }

    LoginStatus status;

    void ToggleLoginStatus(LoginStatus statusOption)
    {
        status = statusOption;
    }
}
